<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Báo cáo</title>

    <script src="jquery.js"></script>
    <script src="jquery-cookie.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="socketapp-baocao.js"></script>

    <link rel="stylesheet" type="text/css" href="layout.css" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
    <header>
      <div class="title">
        <h1>Báo cáo doanh thu</h1>
        <p id="alert"></p>
      </div>

      <div class="checkApi">
        <input
          type="text"
          class="form-control"
          id="api_token"
          placeholder="API Token của bạn"
        />
        <button id="btnLuu">Check token</button>
      </div>
    </header>

    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
      <input id="demo">
  </div>
  
    
    <textarea id="taInput"></textarea>
    <div>
      <button id="mrA">CHUYỂN ĐỔI</button>
      <button id="btnCopy">Copy</button>
    </div>
    <h2>Thông báo: <span id="noidung"></span></h2>

    <textarea id="taOutput"></textarea>
  </body>
</html>
