<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="jquery.js"></script>
    <script src="jquery-cookie.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="socketapp.js"></script>

    

    <script type="text/javascript" src="moment.min.js"></script>
    <script type="text/javascript" src="daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="daterangepicker.css" />

    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>
  <body>
    <header>
      <div class="title">
        <h1>TOOL VIP SANMA.VN V3.1</h1>
        
      </div>

      <div class="checkApi">
        <input
          type="text"
          class="form-control"
          id="api_token"
          placeholder="API Token của bạn"
        />
        <input
          type="text"
          class="form-control"
          id="tAff2"
          placeholder="nick name của bạn"
        />
        <p id="alert"></p>
        <button id="btnLogin">ĐĂNG NHẬP</button>
        <button id="btnLogout">ĐĂNG XUẤT</button>
      </div>
    </header>
    <section>
      <h2>GET LINK:</h2>
      <textarea id="taInput"></textarea>
      <div>
        <button id="mrA">CHUYỂN ĐỔI</button>
        <button id="btnCopy">Copy</button>
      </div>
      
      <h3 style="width: inherit;">Thông báo: <span id="noidung"></span> <div class="dot-elastic"></div> </h3>
      

      <textarea id="taOutput"></textarea>
    </section>
    <aside>
      <h2>BÁO CÁO:</h2>
      <input id="demo" />
      <div id="divThongKe">
        <h3 style="color: #28c76f">HOA HỒNG CHỜ DUYỆT:</h3>
        <strong><span id="hoaHongChoDuyet">0</span></strong>
        <p>
          Số đơn hàng: <span id="soDonHangChoDuyet">0</span> - Tổng giá trị:
          <span id="tongGiaTriChoDuyet">0</span>
        </p>

        <h3 style="color: #ff9f43">HOA HỒNG THÀNH CÔNG:</h3>
        <strong><span id="hoaHongThanhCong">0</span></strong>
        <p>
          Số đơn hàng: <span id="soDonHangThanhCong">0</span> - Tổng giá trị:
          <span id="tongGiaTriThanhCong">0</span>
        </p>

        <h3 style="color: #ea5455">HOA HỒNG HỦY:</h3>
        <strong><span id="hoaHongHuy">0</span></strong>
        <p>
          Số đơn hàng: <span id="soDonHangHuy">0</span> - Tổng giá trị:
          <span id="tongGiaTriHuy">0</span>
        </p>
      </div>
    </aside>
  </body>
</html>
