*{
    box-sizing: border-box;
}
html {
    height: 95%;
    width: 98%;
    align-self: center;
    
  }

body {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
header,section,aside{
    border-radius: 10px;
    box-shadow: 0px 0px 10px -5px #777;
    padding: 0.5em;
    margin: 0.5em;
}

header {
   
    display: flex;
    width: 100%;
    height: 20%;
}
section {

    width: 67%;
    height: 68%;
}
aside{

    width: 30%;
    height: 68%;
}


textarea {
    height: 30%;
    width: 100%;
}
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #16a1e7;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.title{
    width: 50%;
    
}
.title h1{
    color: orangered;
}

.checkApi {
    margin-left: auto;
    width: 50%;
    text-align: right;   
}
.checkApi input {
    width: 70%;
}



@media only screen and (max-width: 600px) {
    header {
      display: block;
    }
    .checkApi {
        width: 100%;
        text-align: left;   
         align-self: center;
    }
    .title{
        width: 100%;
        
    }
  }